

.home-container {
    display: grid;
    justify-content: center;
    color: gray;
    padding-bottom: 20px;
    
    
    
}

.about {
  display: grid;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #333;
  
    
}

.about > p > a {
  
    color: #333;
  }

  .about > p > a:hover {
    color: gold;
  }

 
  .home-image {
    width: 200px;
    height: 200px;
    border: solid 1px gold;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    
}
  

  .images {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #5C5858;
    border: solid 1px gold; */
    border-radius:10px;
  }

  .image-gallery {
    display: flex;
    
    flex-wrap: wrap;
    

  }

  .image-gallery-child {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
   
  }

  .image-gallery-2 {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    

  }

  .image-gallery-child-2 {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
    
  }

  .gallery-head {
    text-align: center;
    color:#5C5858;
    
  }

  .home-header {
    
    color:#5C5858;
  }

  .image-dets {
    font-weight: lighter;
    font-style: italic;
  }

 