#navBar {
    display: flex;
    align-items: center;
    
   
   
    
}

.navLink {
    padding:10px;
    border-bottom: 4px solid #5C5858;
}

.navLink > a {
    list-style: none;
    text-decoration: none;
    color: #5C5858;

}

.navLink {
    list-style: none;
}
.navLink > a:hover {
    color: gold;
  }

.header-top {
    padding-left: 10px;
  
}



