

#main-container {
  display: flex;
  justify-content: space-evenly;
  
  
  
}

#main-container-2 {
  display: flex;
  justify-content: space-evenly;
  
}

#header {
  justify-content: center;
  background-color: #282C34;
  display: flex;
  color: white;
  
}

#image_1 {
  
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_2 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_3 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_4 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_5 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_6 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_7 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}

#image_8 {
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
}
 
